<template>
  <b-navbar class="is-light">
    <template #brand>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        You Talk too Much !
      </b-navbar-item>
    </template>
    <template #start>
    </template>

    <template #end>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        Home
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/about' }">
        About
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: 'HeaderBar',
};
</script>
