<template>
  <div class="histogram">
    <div v-for="d in data" v-bind:key="d.key"
         class="row">
      <div
        v-if="showLabel"
        class="key"
        :style="{width: ''+maxKeyChars+'rem'}"
      >
        {{ d[displayLabel] }}
      </div>
      <div class="bar">
        <div
          :style="{width:''+(d.value/maxValue*100)+'%'}"
          :class="'gender-'+d.gender"
        >
          <b-icon
            pack="fas"
            :icon=" genderIcons[d.gender]">
          </b-icon>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import { genderIcons } from '@/models/gender';

export default {
  name: 'Histogram',
  props: {
    data: {
      default: [],
    },
    max: {
      type: Number,
      default: undefined,
    },
    showLabel: {
      type: Boolean,
      default: true,
    },
    displayLabel: {
      type: String,
      default: 'key',
    },
    showIcon: {
      type: Boolean,
      default: true,
    },
    genderIcons: {
      type: Object,
      default: () => genderIcons,
    },
  },
  computed: {
    maxValue() {
      return this.max || _.chain(this.data).map('value').max().value() || 1;
    },
    maxKeyChars() {
      return _.chain(this.data).map((d) => d[this.displayLabel]?.length || 0).max().value() || 0;
    },
  },
};
</script>
<style>
div.row {
  display: flex;
  flex-direction: row;
}

div.row div.key {
  text-align: right;
  padding-right: 1em;
}

div.row div.bar {
  padding-bottom: 8px;
  flex-grow: 1;
}

div.row div.bar div {

  height: 100%;
}
</style>
