<template>
  <div class="meeting-summary block">
    <p class="title is-3">The meeting has lasted for {{ prettyMS() }} seconds
      <ShowSettingsButton/>
    </p>
    <p class="subtitle is-4">
      Open the meeting
      <ShowSettingsButton size="is-small"/>
      to attribute
      genders to the participants.
    </p>

  </div>
</template>

<script>
import { mapState } from 'vuex';
import prettyMilliseconds from 'pretty-ms';
import ShowSettingsButton from '@/components/meeting-settings/show-settings-button.vue';

export default {
  name: 'meeting-summary',
  components: {
    ShowSettingsButton,
  },
  computed: {
    ...mapState({
      meeting: 'meeting',
    }),
  },
  methods: {
    prettyMS() {
      return prettyMilliseconds(this.meeting.duration * 1000, { secondsDecimalDigits: 0 });
    },
  },
};
</script>
