<template>
  <div class="gender-contribution block">
    <p class="title is-4"> Gender Language Coefficient ({{ glc }})</p>
    <p class="subtitle is-4">How was the voice shared among genders?</p>
    <section :v-if="meeting.isGenderFullyAttributed()">
      <div class="graphs">
        <gauge :size="400" :value="glc"/>
        <div class="histogram">
          <histogram
            :data="rows"
            :show-key="false"
            display-label="legend"
          />
        </div>
      </div>

    </section>
    <section
      v-if="!meeting.isGenderFullyAttributed()"
    >
      <b-message
        type="is-warning" aria-close-label="Close message"
        v-if="!meeting.isGenderFullyAttributed()"
      >
        All talker have not been attributed a gender, hence this graph is not available.
        You can fix this through the
        <ShowSettingsButton size="is-small"/>
        .
      </b-message>
    </section>
    <section>
      The index is computed like the TLC, but taking into account genders and weighting by the
      number of participants in each categories.
      For example, a meeting with 8 women and 2 men will be perfectly balanced if men speak 20% of
      the time.
    </section>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import _ from 'lodash';
import Gender, { genderIcons, genderOrder } from '@/models/gender';
import ShowSettingsButton from '@/components/meeting-settings/show-settings-button.vue';
import Histogram from '@/components/histogram/histogram.vue';
import gauge from '@/components/gauge/gauge.vue';
import { genderLanguageCoefficient, teamLanguageCoefficient } from '@/services/deviation-coefficient';

export default {
  name: 'GenderContribution',
  components: {
    Histogram, ShowSettingsButton, gauge,
  },
  data() {
    return {
      Gender,
      genderIcons,
      genderOrder,
    };
  },
  computed: {
    ...mapState({
      meeting: 'meeting',
      talkerGenders: 'talkerGenders',
      genderContributionRatio: 'genderContributionRatio',
    }),
    glc() {
      return Math.round(genderLanguageCoefficient(this.meeting) * 100) / 100;
    },
    rows() {
      const countByGender = _.chain(this.talkerGenders)
        .countBy()
        .value();
      console.log(countByGender);
      return this.genderOrder
        .filter((g) => this.genderContributionRatio[g])
        .map((g) => ({
          gender: g,
          key: g,
          value: this.genderContributionRatio[g],
          legend: `(${countByGender[g]})`,
        }));
    },
  },
};
</script>
<style>
div.graphs {
  display: flex;
}

div.histogram {
  flex-grow: 1;
}
</style>
