<template>
  <div class="meetings-settings">
    <section>
      <b-modal
        :active="isSettingsVisible()"
        trap-focus
        :destroy-on-hide="false"
        aria-role="dialog"
        aria-label="Meeting settings"
        aria-modal
        :on-cancel="hideSettings"
      >
        <template>
          <div class="card">
            <div class="card-content">
              <section>
                <gender-settings/>
              </section>
              <section>
                <div class="panel-block is-justify-content-space-between">
                  <div></div>
                  <div class="is-centered">
                    <b-button
                      @click="hideSettings"
                      type="is-primary"
                      round
                      outlined
                    >close
                    </b-button>
                  </div>
                  <div></div>
                </div>
              </section>
            </div>
          </div>
        </template>
      </b-modal>
    </section>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import genderSettings from './gender-settings/gender-settings.vue';

export default {
  name: 'MeetingSettings',
  methods: {
    ...mapMutations([
      'showSettings',
      'hideSettings',
    ]),
  },
  data() {
    return {
      ...mapState([
        'isSettingsVisible',
      ]),
    };
  },
  components: {
    genderSettings,
  },
};
</script>
