<template>
  <footer class="footer is-light">
    <div class="content has-text-centered">
      <p>
        Brought to you with ❤️ by Alexandre
        Masselot(<a href="https://alexandremasselot.gitlab.io/resume">who am I?</a>).
      </p>
      <p>The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and available on <a
          href="https://gitlab.com/alexmasselot/you-talk-too-much">Gitlab</a>.
      </p>
      <p>
        Drop me an <a href="mailto:alexandre.masselot@gmail.com">email</a> for questions or
        suggestions.
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterBar',
};
</script>
