<template>
  <div class="tlc-viewer block">
    <p class="title is-4"> Team Language Coefficient ({{ tlc }})</p>
    <p class="subtitle is-4">How was the voice shared?</p>
    <div class="graphs">
      <gauge :size="400" :value="tlc"/>
      <div class="talker-contributions">
        <talker-contribution-histogram/>
      </div>
    </div>
    <section class="Hero mt-4">
      <div>
        The TLC is defined has the deviation from a perfectly balanced conversation (1 => it was a
        monologue, 0 => everyone has contributed equally),
      </div>
      <b-collapse :open="false" position="is-bottom" aria-id="contentIdForA11y1">
        <template #trigger="props">
          <a aria-controls="contentIdForA11y1">
            <b-icon :icon="!props.open ? 'ellipsis-h' : 'window-close'" pack="fas"></b-icon>
            {{ !props.open ? 'tell me more details' : 'hide details' }}
          </a>
        </template>
        <div class="block">
          <p>TLC was popularized by David Marquet, in <em>Leadership is Language.</em></p>
          <p><em>"
            Team Language Coefficient (TLC): a mathematical calculation that measures the
            deviation
            from a perfectly balanced share of voice.
            A perfectly balanced share of voice results in a TLC of 0.0.
            A situation where a person says all the words and everyone else is silent is perfectly
            unbalanced and results in a TLC of 1.0.
            In a three-person team where two people days half the words each and the third person
            is
            silent, the score is 0.5.
            "</em></p>
        </div>
      </b-collapse>
    </section>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { teamLanguageCoefficient } from '@/services/deviation-coefficient';
import gauge from '@/components/gauge/gauge.vue';
import TalkerContributionHistogram
  from '@/components/talker-contribution-histogram/talker-contribution-histogram.vue';

export default {
  name: 'TlcViewer',
  components: {
    TalkerContributionHistogram,
    gauge,
  },
  computed: {
    ...mapState({
      meeting: 'meeting',
    }),
    tlc() {
      return Math.round(teamLanguageCoefficient(this.meeting) * 100) / 100;
    },
  },

};
</script>
<style>
div.graphs {
  display: flex;
}

div.talker-contributions {
  flex-grow: 1;
}
</style>
