.gender-undefined {
  background: darkgrey;
  stroke: darkgrey;
  fill: darkgrey;
}
.gender-male {
  background: #c1dbda;
  stroke: #c1dbda;
  fill: #c1dbda;
}
.gender-female {
  background: #eeb1b1;
  stroke: #eeb1b1;
  fill: #eeb1b1;
}

.gender-non-binary {
  background: #cdac79;
  stroke: #cdac79;
  fill: #cdac79;
}
