<template>
  <div id="app" class="container">
    <HeaderBar/>
    <router-view/>
    <FooterBar/>
  </div>
</template>

<style lang="scss">

</style>
<script>
import HeaderBar from '@/components/header-bar/header-bar.vue';
import FooterBar from '@/components/footer-bar/footer-bar.vue';

export default {
  components: { FooterBar, HeaderBar },
};
</script>
<style scoped>
div.container{
  padding-left: 2px;
  padding-right: 2px;
}
ul{
  list-style: circle;
  margin-left: 1em;
}
</style>
